/* Sidebar 전체 컨테이너 */
.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    background-color: transparent;
    z-index: 10;
}

/* 사이드바 아이콘 기본 색상 */
.sidebar-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* 기본 색상 */
    padding: 0.5rem;
    z-index: 1001;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: color 0.3s ease; /* 색상 애니메이션 */
}

/* 'active' 클래스가 적용된 경우 색상 반전 */
.sidebar-menu-button.active {
    color: white; /* 아이콘 색상을 반전시킴 */
}


/* 사이드바가 열릴 때 아이콘이 오른쪽으로 이동 */
.sidebar-menu-button.open {
    transform: translateX(250px); /* 사이드바 너비만큼 이동 */
}

/* Sidebar 스타일 */
.sidebar-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #EFEDED;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.sidebar-sidebar-open {
    transform: translateX(0);
}

/* 사이드바 링크 */
.sidebar-nav {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    margin-top: 100px;
}

.sidebar-link {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.2s;
}

.sidebar-link:hover {
    color: #000;
}

/* 사이드바 하단 링크 */
.sidebar-bottom-links {
    margin-top: 300px;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* 오버레이 배경 */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
