.filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-left: auto; /* 검색창을 오른쪽으로 */
    width: 300px;
}

.searchInput {
    padding: 8px 15px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 100%;
    background-color: transparent;
}

.filterButtons {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.searchIcon {
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.filterButton {
    width: 100px;
    height: 35px;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 35px;
    font-family: "Gowun Batang", serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filterButton.active {
    color: #FFFFFF;
}