@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
    background-color: #EFEDED; /* 원하시는 배경색 */
    margin: 0;
    padding: 0;
}

.history-logo {
    max-width: 110px;
    max-height: 110px;
}

.history-main-container {
    background-color: #EFEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.history-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* 버튼 간 간격 */
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative; /* 아래 선을 중앙 정렬할 수 있도록 relative로 설정 */
    width: 80%; /* 전체 너비의 80% */
    font-family: "Gowun Batang", serif;
}

.empty-history-message{
    margin-top: 240px;
    margin-bottom: 240px;
    font-size: 25px;
    font-weight: bold;
}

.history-date-button {
    font-family: "Gowun Batang", serif;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 3px 8px;
    color: #666;
    transition: color 0.3s ease, font-weight 0.3s ease;
    margin-bottom: 5px;
}

.history-date-button.active {
    color: #000;
    font-weight: bold;
}


.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    height: 670px;
    width: 1100px;
    margin-bottom: 20px;
    margin-top: -10px;
    position: relative;
    border: 4px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 */
    border-radius: 8px;
}

/* 제목 스타일 */
.history-main-title{
    font-size: 1.2rem;
    font-family: "Gowun Batang", serif;
    font-weight: bold;
}

.history-title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Gowun Batang", serif;
}

/* 카드 컨테이너 */
.card-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 10px 0;
}

/* 각 카드 스타일 */
.history-card {
    background: white;
    border: 1px solid #979797;
    border-radius: 200px;
    padding: 45px;
    width: 225px;
    height: 450px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 */
}

.card-image {
    margin-top: 15px;
    width: 135px;
    height: 100px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content strong {
    color: #000000;

}

.card-perfume-name{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-top: 30px;
    font-family: "Gowun Batang", serif;
}
.card-perfume-brand{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-top: -8px;
    font-family: "Gowun Batang", serif;
}

/* 설명 텍스트 사이의 가로 선 */
.divider {
    width: 80%;
    border-top: 1px solid #979797;
    margin: 10px
}

.card-description {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    color: #141414;
    text-align: center;
    line-height: 1.6; /* 행간 설정 */
}

/* 좌우 화살표 스타일 */
.prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    transform: translateY(-20%);
    margin: -20px;
}

.prev-arrow {
    left: -50px;
}

.next-arrow {
    right: -50px;
}

.prev-arrow:hover, .next-arrow:hover {
    color: #89c0ff;
}

/* 페이지네이션 점 스타일 */
.dot-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd; /* 비활성화 상태 */
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #89c0ff; /* 활성화된 점 */
}

.imageSaveButton{
    font-family: 'Nanum Gothic', sans-serif;
}

.imageSave{
    
    all: unset;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: -15px;
    gap: 10px;
    margin-left: 1030px;
}