@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');


/* 로고 스타일 */
.login-info-logo {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: -20px;
}

/* 전체 컨테이너 스타일 */
.login-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #EFEDED;
    font-family: 'Nanum Myeongjo';
}

.login-info-gender{
    font-family: 'Nanum Myeongjo';
}

/* 설명 텍스트 스타일 */
.login-info-subtitle {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 2.5rem;
    font-weight: 900;
    text-align: center;
}

/* 입력 폼 박스 스타일 */
.login-info-box {
    margin-top: -10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    width: 500px;
}

/* 입력 필드 스타일 */
.login-info-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #EFEDED;
    color: #000000;
    text-align: center;
    outline: none;
    font-family: 'Nanum Myeongjo';
}

/* 성별 선택 스타일 */
.login-info-gender {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.login-info-gender label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #666;
}

.login-info-gender input[type="radio"] {
    margin-right: 5px;
}

/* 가입하기 버튼 스타일 */
.login-info-button {
    padding: 15px 40px;
    margin-top: 40px;
    font-size: 1rem;
    font-weight: bold;
    color: #3C1E1E;
    border: 2px solid #3C1E1E;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Nanum Myeongjo';
}

.login-info-button:hover {
    background-color: #f0f0f0;
}

/* 푸터 이미지 스타일 */
.login-footer {
    margin-top: 20px;
    opacity: 0.7;
}
